@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h5 {
    @apply absolute px-6 duration-200 w-52 bottom-4 md:bottom-8 md:px-10 group-hover:scale-110 group-hover:text-green-300;
  }
}

#hero {
  background-image: url("../images/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  background-color: #0e0e0f;
}

.hamburger {
  position: relative;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  cursor: pointer;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 26px;
  height: 2px;
  background-color: #fff;
  top: 0;
  right: 0;
  transition: all 0.25s;
  transform: rotate(0);
}

.hamburger-middle {
  width: 22px;
  transform: translateY(7px);
}

.hamburger-bottom {
  width: 18px;
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  width: 26px;
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

.btn {
  @apply px-10 py-2 font-bold tracking-widest uppercase border-2 border-white hover:bg-white hover:text-black duration-200;
}

.gradient-effect {
  @apply absolute top-0 bottom-0 right-0 left-0 bg-gradient-to-b from-transparent to-gray-900 group-hover:from-gray-50 group-hover:to-white group-hover:opacity-20;
}

.item-container {
  @apply flex flex-col md:flex-row justify-between w-full space-y-6 text-2xl md:space-y-0 text-white md:space-x-8 uppercase;
}

@media (max-width: 576px) {
  #hero {
    background-image: url("../images/mobile/image-hero.jpg");
    background-position: center;
  }
}
